
body{
    background-color: #4e193c;
}
.game{
    width: 500px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: aqua;
    margin: auto;
    font-weight: 600;
    background-color: rgb(6, 126, 231);
}
.title{
    background: #333;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

span{
    color: red;
}

.square{
    width: 140px;
    height: 140px;
    background: #333;
    float: left;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;    
    font-size: 110px;

}
.square:hover{
    background: #444;
}